body {
  background-color: #ffffff;
  /* White background */
  color: #000000;
  /* Black text */
  font-family: "Courier New", monospace;
  /* Retro computer font */
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.separator {
  position: absolute;
  top: 10%;
  /* Adjust as needed */
  bottom: 10%;
  /* Adjust as needed */
  left: 50%;
  width: 1px;
  background-color: #000000;
  /* Black line */
}

.nav {
  flex: 1;
  text-align: center;
  font-weight: bold;

}

ul {
  list-style-type: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;

  box-shadow: inset 0 0 0 0 #000000;
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav a:hover {
  box-shadow: inset 100px 0 0 0 #000000;
  color: white;
}

.content {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:not(.uable):hover:before {
  content: "-> ";
}
.content a:not(.uable):hover:after {
  content: " <-";
}

.uable:hover {
  text-decoration: underline;
}

/* Justify non-summary text of details elements */
#interests div {
  text-align: left;
  padding: 5%;
}

/* Remove last line alignment issue in justified text */
#interests div::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}